.menu-btn {
    min-width: 300px;
    max-width: 70%;
}

.menu-btn span {
    font-size: 1.2em;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    font-size: 1.5em;
    text-align: center;
}

.header div {
    padding-top: 5px
}

.header .message {
    padding-top: 50px;
    font-size: 3em;
}

.header .number {
    padding-top: 50px;
    font-size: 6em;
}

.header .result {
    font-size: 2.5em;
}

.question {
    font-size: 6em;
    text-align: center;
}

.ans-btn {
    width: 200px;
    max-width: 80%;
}

.ans-txt {
    font-size: 1.5em;
}

#show-qrcode {
    display: none;
}

#show-qrcode-label {
    color: white;
}

#ans-click-area {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 70;
    width: 100%;
    height: 100%;
    text-align: center;
}

#ans-mark {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#ans-mark .correct {
    color: red;
    font-size: 4em;
}

#ans-mark .incorrect {
    color: blue;
    font-size: 4em;
}

#ans-mark span {
    font-size: 2em;
}

.get-score {
    font-size: 2em;
    font-weight: bold;
    color: red;
}

.lost-score {
    font-size: 2em;
    font-weight: bold;
    color: blue;
}

/* ポップアップwindow部分 */
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 70;
    width: 100%;
    height: 100%;
}
/* オーバーレイの背景部分 */
#bg_gray {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 80;
}
/* ウィンドウ部分 */
#qrcode-window {
    width: 330px;
    min-width: 330px;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.6);
    z-index: 90;
    opacity: 0;
}
#qrcode-description {
    text-align: center;
}

/* クリックで表示 */
#show-qrcode:checked ~ #overlay {
    visibility: visible;
}
#show-qrcode:checked ~ #overlay #qrcode-window {
    animation: fadein 500ms forwards;
    animation-timing-function: ease-in-out;
}
@keyframes fadein {
    100% {
        opacity: 1;
    }
}
